:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 1024px;
  --main-width: 720px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;
  --theme: rgb(255, 255, 255);
  --entry: rgb(255, 255, 255);
  --primary: rgb(30, 30, 30);
  --secondary: rgb(108, 108, 108);
  --tertiary: rgb(214, 214, 214);
  --content: rgb(31, 31, 31);
  --hljs-bg: rgb(28, 29, 33);
  --code-bg: rgb(245, 245, 245);
  --border: rgb(238, 238, 238)
}

.dark {
  --theme: rgb(29, 30, 32);
  --entry: rgb(46, 46, 51);
  --primary: rgb(218, 218, 219);
  --secondary: rgb(155, 156, 157);
  --tertiary: rgb(65, 66, 68);
  --content: rgb(196, 196, 197);
  --hljs-bg: rgb(46, 46, 51);
  --code-bg: rgb(55, 56, 62);
  --border: rgb(51, 51, 51)
}

.list {
  background: var(--code-bg)
}

.dark.list {
  background: var(--theme)
}

*,::after,::before {
  box-sizing: border-box
}

body {
  margin: 0 auto;
  padding: 1em;
  line-height: 1.5;
  /* max-width: 80ch; */
  text-align: justify;
  text-justify: inter-ideograph;
  background: var(--theme);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section, table {
  display: block;
}

body #content {
  margin: 0 auto;
  max-width: 100ch;
  text-align: justify;
  text-justify: inter-ideograph;
}

h1,h2,h3,h4,h5,h6 {
  text-align: left;
}

.lastmod {
  color: #1e28ea;
}

.initpost {
  color: #1e28ea;
}

.pagepv {
  color: #1e28ea;
}

.wordcount {
  color: #1e28ea;
}

.date {
  margin-top: -0.5em;
  color: #888;
}

ul {
  padding-left: 1.5em;
}

a {
  color: #1e28ea;
  text-decoration: none;
}

a::before {
  /* content: "["; */
  font-size: 1em;
}

a::after {
  /* content: "]"; */
  font-size: 1em;
}

.no-tag::after {
  content: none;
}

.no-tag::before {
  content: none;
}

.inspire a::after {
  content: none;
}

.inspire a::before {
  content: none;
}

.inspire ul {
  list-style: none;
  counter-reset: inspire-counter;
  padding: 0;
}

.inspire li {
  padding-left: 0;
  margin-bottom: 0.2em;
}

.inspire li:before {
  content: "[" counter(inspire-counter) "]";
  counter-increment: inspire-counter;
}

img {
  max-width: 100%;
}

th,
td {
  padding: 5px 10px;
  border-bottom: 2px solid #ddd;
}

/* header and footer areas */
.menu {
  padding: 0;
}

.menu li {
  display: inline-block;
}

.article-meta,
.menu a {
  text-decoration: none;
  padding: 5px;
}

.title {
  font-size: 1.1em;
}

footer a {
  text-decoration: none;
}

hr {
  border-style: dashed;
  color: #ddd;
}

.page-list {
  list-style-type: decimal-leading-zero;
}

.page-list li {
  padding: 5px;
}

.chroma {
  overflow-x: scroll;
  border-radius: 10px;
}

blockquote {
  border-left: 3px solid #1e28ea;
  padding: 0 1.4em;
  color: #666;
  margin: 0 2px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

#content {
  position: relative;
}

.btw {
  width: 25%;
  right: 100%;
  text-align: justify;
  position: absolute;
  padding-right: 1em;
  color: #888;
}

.btw>p {
  padding-top: 1px;
  margin-top: 0px;
  font-size: 80%;
}

@media screen and (max-width: 80ch) {
  .btw {
    font-size: 80%;
    position: relative;
    margin: 0.5em 0 0.5em auto;
    padding: 0.2em 0.2em;
    right: 0;
    text-align: left;
    width: initial;
    max-width: 75%;
  }

  .btw>p {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
}

em {
  font-style: normal;
  background-color: #fefad1;
  color: #000;
  border-bottom: 1px solid #f6de1a;
}

strong {
  font-weight: bold;
  color: #333;
}

code {
  font-family: "Monaco", "Consolas", monospace;
  font-size: 80%;
  background-color: #eee9;
  color: #333;
  border-radius: 0.2em;
}

/* 长按图片放大 */
img:active {
  transform: scale(1.35,1.35)
}

.logo a img {
  border-radius: 25px;
}

.logo a {
  color: var(--primary);
  font-size: 2.4em; 
  font-weight: bold;
}

.header .nav {
  max-width: calc(var(--nav-width) + var(--gap) * 10);
  display: flex; flex-wrap: wrap;
  justify-content: space-between;
  margin-inline-start: auto;
  margin-inline-end: auto;
  line-height: var(--header-height);
}

.post-entry {
  -webkit-transition: box-shadow .4s ease,transform .4s ease;
  -moz-transition: box-shadow .4s ease,transform .4s ease;
  -o-transition: box-shadow .4s ease,transform .4s ease;
  transition: box-shadow .4s ease,transform .4s ease;
  box-shadow: 0 2px 4px rgb(5 10 15/5%),0 7px 13px -3px rgb(5 10 15/.3);
}

.post-entry {
  display: flex;
  flex-direction: row;
  align-items: center
}

.post-entry {
  position: relative;
  margin-bottom: var(--gap);
  padding: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
  transition: transform .1s;
  border: 1px solid var(--border);
}

.post-info {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  padding-right: 10px;
}

.entry-header h2 {
  font-size: 24px;
  line-height: 1.3;
}

.entry-content {
  margin: 8px 0;
  color: var(--secondary);
  font-size: 14px;
  line-height: 1.6;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.entry-footer {
  color: var(--secondary);
  font-size: 15px;
}

.parent-post-meta {
  display: flex;
  flex-wrap: wrap;
}

.post_meta_style {
  display: flex;
}

.post-meta-icons {
  margin: 2px 5px 0 0;
}

.post-meta-icons svg {
  width: 14px;
  height: 14px;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

.lang-switch li,.lang-switch ul,.logo-switches {
  display: inline-flex;
  margin: auto 4px
}

.lang-switch {
  display: flex;
  flex-wrap: inherit
}

.lang-switch a {
  margin: auto 3px;
  font-size: 16px;
  font-weight: 500
}

.logo-switches {
  flex-wrap: inherit
}

button#theme-toggle {
  margin: auto 15px
}
button#theme-toggle {
  font-size: 26px;
}

button,input,textarea {
  padding: 0;
  font: inherit;
  background: 0 0;
  border: 0
}

button,input[type=button],input[type=submit] {
  cursor: pointer
}

#theme-toggle svg {
  -webkit-transition: box-shadow .4s ease,transform .4s ease;
  -moz-transition: box-shadow .4s ease,transform .4s ease;
  -o-transition: box-shadow .4s ease,transform .4s ease;
  transition: box-shadow .4s ease,transform .4s ease;
}

body:not(.dark) #sun {
  display: none;
}